@import "scss-partials/_grid-template";
.container{
  background-image: url("../../../images/other/background.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 92% 88vh;
  width: 100%;
  height: 130vh;
  @include template;
  .header{
    margin: 0;
    grid-row: header-start / header-end;
    grid-column: header-start / header-end;
    align-self: center;
    justify-self: center;
  }
  .eggMeal{
    margin: 0;
    grid-row: egg-start / egg-end;
    grid-column: egg-start / grid-end;
  }
  .redNoodles{
    margin: 0;
    grid-row: red-start / red-end;
    grid-column: red-start / red-end;
  }
  .yellowNoodles{
    margin: 0;
    grid-row: yellow-start / yellow-end;
    grid-column: yellow-start / yellow-end;
  }
  .content{
    grid-row: content-start / content-end;
    grid-column: content-start / content-end;
    align-self: center;
  }
  .paprika{
    margin: 0;
    grid-row: paprika-start / grid-end;
    grid-column: paprika-start / paprika-end;
    justify-self: right;
    align-self: center;
  }
  @import "scss-partials/mobile";
}