@import "../../variables";
.courseBtn{
  font-family: $text-font;
  background-color: $secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.396667px;
  text-transform: uppercase;
  padding: 20px 30px;
  &:hover{
    cursor: pointer;
  }
}