@import "../../variables";
.courseBtn{
  font-family: $text-font;
  background-color: $secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.396667px;
  text-transform: uppercase;
  padding: 20px 30px;
  outline: none;
  cursor: pointer;
  border: 0;

  &:hover{
    background-color: lighten($secondary, 10%);
    transition: 0.2s;
  }
}