$break-small: 1200px;
$light: #F3F3F3;
$dark: #000000;
$secondary-light: #E6F0D6;
$secondary: #BED392;
$primary: #FF9A81;
$primary-light: #FEE3DD;

$title-font: Playfair Display;
$text-font: Montserrat;