@import "scss-partials/grid-template";
.container{
  @include template;
  width: 70%;
  margin: 8%;
  justify-content: left;
  .whiteNoodles{
    margin: 0;
    grid-row: start-white / end-white;
    grid-column: start-white / end-white;
  }
  .content{
    grid-row: start-content / end-content;
    grid-column: start-content / end-content;
  }
  .mixMeal{
    margin: 0;
    grid-row: start-mix / end-mix;
    grid-column: start-mix / end-mix;
  }
  .onion{
    grid-row: start-onion / end-onion;
    grid-column: start-onion / end-onion;
    align-self: end;
    margin: 30px 0 0;
  }
  @import "scss-partials/mobile";
}